html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F6F6F6;
}

input:focus, textarea { outline: none !important; }

#boards-container {
    margin-top: 80px;
}

#boards-container .thumbnail {
    margin-bottom: 10px;
}

#board-container {
    margin-top: 80px;
}

#board-container .thumbnail {
    margin-bottom: 10px;
}

.create fieldset > * {
    margin: 2px 0;
}

.create form {
    margin: 0px;
}

.edit-in-place input[type=text], .edit-in-place textarea,
.create input[type=text], .create textarea {
    width: 100%;
}

.edit-in-place {
    /*position: relative;*/
    padding: 10px;
    margin: 10px;
}

.edit-in-place .edited {
    width: 100%;
    /*
    position: absolute;
    z-index: 1;
    */
    left: 0;
    top: 0;
}

.edit-in-place .editing {
    width: 100%;
    /*
    position: absolute;
    z-index: 2;
    */
    left: 0;
    top: 0;
}

/*
.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave {
    opacity: 1;
}
*/