html, body {
    height: 100%;
    min-height: 100%;
    background: url(/assets/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:focus, textarea { outline: none !important; }


*, *:before, *:after {box-sizing:  border-box !important;}

.navbar-inverse {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#104069), to(#0B2C47));
    background-image: -webkit-linear-gradient(top, #104069, 0%, #0B2C47, 100%);
    background-image: -moz-linear-gradient(top, #104069 0, #0B2C47 100%);
    background-image: linear-gradient(to bottom, #104069 0, #0B2C47 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#104069', endColorstr='#0B2C47', GradientType=0);
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 )
                url('/assets/img/loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.edit {
    padding: 5px;
}

.edit input[type=text], .edit textarea {
    border: 1px solid #FFF;
    width: 100%;
    margin-right: 10px;
    resize: none;
}

.create input[type=text], .create textarea {
    width: 100%;
    margin-right: 10px;
    resize: none;
}

.edit input[type=text]:hover, .edit textarea:hover,
.edit input[type=text]:focus, .edit textarea:focus {
  border: 1px solid #CCC;
}

#content-container {
    margin-top: 80px;
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

#content-container .thumbnail {
    display: inline-block;
    margin:  0.6rem;
    padding:  1rem;
    width:  100%;
}

.create fieldset > * {
    margin: 2px 0;
}

.create form {
    margin: 0px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 80px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.animate-in.ng-enter, .animate-in.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.animate-in.ng-enter,
.animate-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-in.ng-enter.ng-enter-active,
.animate-in.ng-leave {
    opacity: 1;
}


.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  display:block!important;
}
.show-hide-animation.ng-hide-remove {
  opacity:0;
}
.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.show-hide-animation.ng-hide-add {
  opacity:1;
}
.show-hide-animation.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.my-repeat-animation.ng-enter {
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.my-repeat-animation.ng-leave {
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}