<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="noteriousApp" ng-controller="MainCtrl" ng-class="{loading:loading()}" class="bg-blue">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="lib/es5-shim.js"></script>
      <script src="lib/json3.min.js"></script>
    <![endif]-->

    <header class="navbar-clear" role="banner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="assets/img/logo.png" alt="noterio.us"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="blue" href="http://angularjs.org/" target="_blank">AngularJS</a></li>
                    <li><a class="blue" href="https://github.com/simpulton/noterious" target="_blank">GITHUB</a></li>
                    <li><a class="blue" href="#" ng-if="userExists()" ng-click="logout()">LOGOUT</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </header>

    <!-- Add your site or application content here -->
    <div ng-view="" class="animate-in"></div>

    <div class="modal"></div>

    <script src="lib/jquery.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/jquery.autosize.min.js"></script>
    <script src="lib/sugar.core.js"></script>
    <script src="lib/sugar.array.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/user.service.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.controller.js"></script>
    <!--
    <script src="scripts/controllers/boards.controller.js"></script>
    <script src="scripts/controllers/board.controller.js"></script>
    -->
    <script src="scripts/controllers/boards.rest.controller.js"></script>
    <script src="scripts/controllers/board.rest.controller.js"></script>
    <script src="scripts/services/boards.service.js"></script>
    <script src="scripts/services/board.service.js"></script>

    <script src="scripts/directives/autosize.directive.js"></script>

</body>
</html>
