<div class="login-wrap">
  <div ng-if="login.verify">A verification email sent to you, please follow email instruction in order to login</div>
  <form
    class="form-signin"
    role="form"
    name="login.loginForm"
    ng-submit="login.submit(login.user, login.loginForm.$valid, login.user.register)"
    novalidate
    ng-if="!login.verify"
  >
    <p class="large">Please Sign In</p>

    <fieldset>

      <div>
        <input
          type="email"
          ng-model="login.user.email"
          placeholder="Enter Email"
          name="email"
          required
        >
      </div>
      <div>
        <input
          type="password"
          ng-model="login.user.password"
          placeholder="Enter Password"
          required
        >
      </div>

      <div>
        <input
          type="text"
          ng-model="login.user.appName"
          placeholder="Enter Backand app name"
          required
        >
      </div>

      <div class="bottom x-small" ng-show="false">
        <label>
          <input
            type="checkbox"
            ng-model="login.user.register"
          >
          New User?
        </label>
      </div>

      <button type="submit" class="btn btn-default btn-sm pull-right"
        ng-disabled="login.loading"
      >
        <span class="glyphicon glyphicon-ok"></span>
        Sign In
        <span ng-show="login.loading" class="glyphicon glyphicon-refresh"></span>
      </button>
    </fieldset>
    <div ng-show="login.error" class="alert-danger">{{login.error}}</div>
  </form>
</div>