.animate-in.ng-enter, .animate-in.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.animate-in.ng-enter,
.animate-in.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-in.ng-enter.ng-enter-active,
.animate-in.ng-leave {
    opacity: 1;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    display:block!important;
}
.show-hide-animation.ng-hide-remove {
    opacity:0;
}
.show-hide-animation.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
.show-hide-animation.ng-hide-add {
    opacity:1;
}
.show-hide-animation.ng-hide-add.ng-hide-add-active {
    opacity:0;
}

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.my-repeat-animation.ng-enter {
    opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
    opacity:1;
}

.my-repeat-animation.ng-leave {
    opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
    opacity:0;
}

.my-repeat-animation.ng-move {
    opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
    opacity:1;
}
