html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 10px solid #f5ead9;
}

.bg-blue {
    background: url(../../assets/images/bg-blue.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-green {
    background: url(../../assets/images/bg-green.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg-orange {
    background: url(../../assets/images/bg-orange.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg-red {
    background: url(../../assets/images/bg-red.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg-yellow {
    background: url(../../assets/images/bg-yellow.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar-clear a:hover.blue {
    color: #4f92a8;
}

.navbar-clear a:hover.green {
    color: #87a961;
}

.navbar-clear a:hover.orange {
    color: #f6512d;
}

.navbar-clear a:hover.red {
    color: #a93d41;
}

.navbar-clear a:hover.yellow {
    color: #f4cb48;
}

input:focus, textarea { outline: none !important; }

*, *:before, *:after {box-sizing:  border-box !important;}

.navbar-clear {
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, 0);
}

.navbar-clear a,
.navbar-clear button {
    color: #f5ead9;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-clear button {
    padding-top: 15px;
    padding-bottom: 18px;
}

.navbar-clear .icon-bar {
    background-color: #f5ead9;
}

.navbar-clear .nav>li>a:hover, .navbar-clear .nav>li>a:focus,
.navbar-clear .nav>li>button:hover, .navbar-clear .nav>li>button:focus {
    text-decoration: none;
    background: rgba(245, 234, 217, .6);
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(245, 234, 217, .6);
                url('/assets/img/loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.note-header {
    margin-left: 10px;
}

.content {
    margin-left: 10px;
}

a.view {
    color: #333;
}

a.view:hover, a.view:focus {
    color: #333;
}

.x-small {
    color: #333333;
    font-size: 11px;
}

.medium {
    font-size: 18px;
    font-weight: bold;
}

.large {
    color: #f5ead9;
    font-size: 24px;
    font-weight: bold;
}

.edit .bottom {
    position: absolute;
    bottom: 40px;
}

.create .bottom {
    position: absolute;
    bottom: 56px;
}

.edit .top-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 2px;
    background:none;
    border:none;
    box-shadow:none;
}

.edit .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 14px;
    bottom: 22px;
    background:none;
    border:none;
    box-shadow:none;
}

.create .bottom-right-corner {
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 38px;
    background:none;
    border:none;
    box-shadow:none;
}

.content fieldset {
    border: none;
}

.content .board {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../../assets/images/note-view.png);
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}

.content .note {
    display: inline-block;
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../../assets/images/note.png);
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 0px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-top: 34px;
}


.content .board.create, .content .note.create {
    background-image: url(../../assets/images/note-create.png);
    height: 240px;
}

.content .board fieldset, .content .note fieldset {
    border: none;
}

.edit input[type=text], .edit textarea {
    color: #333333;
    border: 1px solid #f5ead9;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.create input[type=text], .create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
}

.edit input[type=text]:hover, .edit textarea:hover,
.edit input[type=text]:focus, .edit textarea:focus {
  border: 1px solid #d7cebf;
}

.create fieldset > * {
    margin: 2px 0;
}

.create form {
    margin: 0px;
}

.form-signin {
    min-height: 200px;
    max-width: 100%;
    line-height: 1.428571429;
    background-image: url(../../assets/images/note-blank.png);
    width: 360px;
    height: 220px;
    padding:  20px;
    margin: 80px auto 20px;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
}

.form-signin button {
    background:none;
    border:none;
    box-shadow:none;
}

.form-signin button:hover {
    background:none;
    border:none;
    box-shadow:none;
}

.form-signin .large {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.form-signin input[type=text],
.form-signin input[type=email],
.form-signin input[type=password],
.create textarea {
    color: #a69f95;
    border: 1px solid #d7cebf;
    width: 100%;
    resize: none;
    background-color: #f5ead9;
    margin-bottom: 5px;
}

.boards,
.notes {
    margin-top: 20px;
    padding: 0;
    background: #f5ead9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

.board-details,
.note-details {
    margin-top: 20px;
    padding: 20px;
    background: #f5ead9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}

.simple-board,
.simple-note {
    cursor: pointer;
    border-bottom: 1px #CCC solid;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    margin: 0px;
    padding: 10px;
}

.simple-board:last-child,
.simple-note:last-child {
    border-bottom: 1px #CCC solid;
}

.active {
    background: #f5ead9;
}

.faded {
    opacity: 0.3;
}