<div class="board-header">
  <span
      class="large"
      ng-click="ctrl.goBack()">
    {{ctrl.board.title}}
  </span>
</div>
<div class="container">
  <div class="row">
    <div class="board-content">
      <!-- NEW NOTE -->
      <div class="col-sm-4">
        <div class="create note">
          <div class="caption">
            <form
                name="ctrl.createForm"
                class="create-form"
                role="form"
                ng-submit="ctrl.createNote(ctrl.newNote, ctrl.createForm.$valid)"
                novalidate>
              <fieldset>
                <div>
                  <input
                      type="text"
                      class="medium"
                      ng-model="ctrl.newNote.title"
                      placeholder="Note Title"
                      required/>
                </div>
                <div>
                    <textarea
                        ng-model="ctrl.newNote.content"
                        placeholder="Note content"
                        required>
                    </textarea>
                </div>
                <button
                    type="submit"
                    class="bottom-right-corner-note btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <!-- EXISTING NOTES -->
      <div
          class="col-sm-4"
          ng-repeat="(noteId, note) in ctrl.notes"
          note="note"
          note-id="{{noteId}}"
          board-id="{{noteId}}"
          remove="ctrl.deleteNote(noteId)">
      </div>
    </div>
  </div>
</div>
