<div class="board-header">
  <p class="large">{{ctrl.board.title}}</p>
</div>
<div class="col-sm-4">
  <div class="notes">
    <div class="simple-note" ng-repeat="(noteId, note) in ctrl.notes"
         ng-click="ctrl.setEditedNote(noteId, note)"
         ng-class="{'active':ctrl.isCurrentNote(noteId)}">

      <button type="button" class="close" ng-click="ctrl.deleteNote(noteId)">&times;</button>
      <h3>{{note.title}}</h3>

      <p><strong>{{note.content}}</strong></p>
    </div>
  </div>
</div>
<div class="col-sm-8">
  <!-- CREATING -->
  <div ng-if="!ctrl.isEditing" class="col-xs-12 note-details">
    <h3>Create a New Note</h3>
    <hr/>
    <form class="create-form" role="form"
          ng-submit="ctrl.createNote(ctrl.newNote)" novalidate>
      <div class="form-group">
        <label>Note Title</label>
        <input type="text" class="form-control"
               ng-model="ctrl.newNote.title"
               placeholder="Note Title">
      </div>
      <div class="form-group">
        <label>Note Content</label>
        <input type="text" class="form-control"
               ng-model="ctrl.newNote.content"
               placeholder="Note Content">
      </div>
      <button type="submit" class="btn btn-info btn-lg">Create</button>
    </form>
  </div>
  <!-- EDITING -->
  <div ng-if="ctrl.isEditing" class="col-xs-12 note-details">
    <h3>Editing {{ctrl.editedNote.title}}</h3>
    <hr/>
    <form class="edit-form" role="form"
          ng-submit="ctrl.updateNote(ctrl.editedNoteId, ctrl.editedNote)" novalidate>
      <div class="form-group">
        <label>Note Title</label>
        <input type="text" class="form-control"
               ng-model="ctrl.editedNote.title"
               placeholder="Note Title">
      </div>
      <div class="form-group">
        <label>Note Content</label>
        <input type="text" class="form-control"
               ng-model="ctrl.editedNote.content"
               placeholder="Note Content">
      </div>
      <button type="submit" class="btn btn-info btn-lg">Save</button>
      <button type="button" class="btn btn-default btn-lg pull-right"
              ng-click="ctrl.cancelEditing()">Cancel
      </button>
    </form>
  </div>
</div>