<div class="edit note">
  <div class="caption">
    <button
        type="button"
        class="close"
        ng-click="ctrl.deleteNote(ctrl.noteId)">
      &times;
    </button>
    <div>
      <input
          type="text"
          class="medium"
          ng-model="ctrl.note.title"
          ng-blur="ctrl.updateNote(ctrl.noteId, ctrl.note)"
          placeholder="Note Title">
    </div>
    <div>
      <textarea
          ng-model="ctrl.note.content"
          ng-blur="ctrl.updateNote(ctrl.noteId, ctrl.note)"
          placeholder="Note content">
      </textarea>
    </div>
    <span ng-show="ctrl.loading" class="glyphicon glyphicon-refresh"></span>
  </div>
</div>