<div id="header">
  <p class="large">{{boardTitle}}</p>
</div>
<div>
  <div class="edit note my-repeat-animation" ng-repeat="(noteId, note) in notes">
    <div class="caption">
      <button type="button" class="top-right-corner" ng-click="deleteNote(noteId)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <div><input type="text" class="medium" ng-model="note.title" placeholder="Note Title"></div>
      <div><textarea autosize ng-model="note.content" placeholder="Note content"></textarea></div>
    </div>
  </div>
  <div class="create note">
    <div class="caption">
      <form ng-submit="createNote(newNote);resetForm();">
        <fieldset>
          <div><input type="text" class="medium" ng-model="newNote.title" placeholder="Note Title" /></div>
          <div><textarea autosize ng-model="newNote.content" placeholder="Note content"></textarea></div>
          <button type="submit" class="bottom-right-corner"><span class="glyphicon glyphicon-plus"></span></button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

