<div id="board-container" masonry options="{ gutter: 10 }">
    <div class="masonry-brick create thumbnail col-md-3">
        <div class="caption">
            <form ng-submit="createNote(noteTitle, noteContent);noteTitle='';noteContent='';">
                <fieldset>
                    <input type="text" ng-model="noteTitle" placeholder="Note Title">
                    <textarea autosize ng-model="noteContent" placeholder="Note content"></textarea>
                    <button type="submit" class="btn btn-default pull-right">Create</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="masonry-brick thumbnail col-md-3" ng-repeat="(noteId, note) in notes">
        <div class="caption">
            <button type="button" class="close" ng-click="removeNote(noteId)">&times;</button>
            <h3>{{note.title}}</h3>
            <pre>{{note.content}}</pre>
        </div>
    </div>
</div>