<div id="content-container" masonry options="{ gutter: 10  }">
    <div class="masonry-brick create thumbnail col-xs-12 col-md-3">
        <div class="caption">
            <form ng-submit="createBoard(boardTitle, boardDesc, isPublic);boardTitle='';boardDesc='';isPublic=false;">
                <fieldset>
                    <input type="text" ng-model="boardTitle" placeholder="Board Title">
                    <input type="text" ng-model="boardDesc" placeholder="Board description.">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="isPublic"> Board is Public
                    </label>
                    <button type="submit" class="btn btn-default btn-sm pull-right">
                      <span class="glyphicon glyphicon-ok"></span> Create
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="masonry-brick thumbnail col-xs-12 col-md-3" ng-repeat="(boardId, board) in boards">
        <div class="caption">
            <button type="button" class="close" ng-click="removeBoard(boardId)">&times;</button>
            <div edit-in-place content="board" class="edit-in-place">
                <div ng-if="!editorEnabled" class="edited animate-if" ng-click="enableEditor()">
                    <strong>{{content.title}}</strong>
                </div>
                <div ng-if="editorEnabled" class="editing animate-if">
                    <input type="text" ng-model="content.title" ng-blur="disableEditor()">
                </div>
            </div>
            <div edit-in-place content="board" class="edit-in-place">
                <div ng-if="!editorEnabled" class="edited animate-if" ng-click="enableEditor()">
                    <p>{{content.description}}</p>
                </div>
                <div ng-if="editorEnabled" class="editing animate-if">
                    <input type="text" ng-model="content.description" ng-blur="disableEditor()">
                </div>
            </div>
            <p><input type="checkbox" ng-model="board.isPublic"> Board is Public</p>
            <a href="#/{{boardId}}" type="button" class="btn btn-default btn-sm pull-right">
              <span class="glyphicon glyphicon-share-alt"></span> View
            </a>
        </div>
    </div>
</div>
