<div ng-show="!loading()" class="show-hide-animation">
    <div ng-show="userExists()" class="show-hide-animation">
        <div id="content-container">
            <div class="edit thumbnail" ng-repeat="(boardId, board) in boards" class="my-repeat-animation">
                <div class="caption">
                    <button type="button" class="close" ng-click="removeBoard(boardId)">&times;</button>
                    <div><input type="text" ng-model="board.title"></div>
                    <div><input type="text" ng-model="board.description"></div>
                    <div><input type="checkbox" ng-model="board.isPublic"> Board is Public</div>
                    <a href="#/{{boardId}}" type="button" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-share-alt"></span> View
                    </a>
                </div>
            </div>
            <div class="create thumbnail">
                <div class="caption">
                    <form ng-submit="createBoard(boardTitle, boardDesc, isPublic);boardTitle='';boardDesc='';isPublic=false;">
                        <fieldset>
                            <div><input type="text" ng-model="boardTitle" placeholder="Board Title"></div>
                            <div><input type="text" ng-model="boardDesc" placeholder="Board description."></div>
                            <div><input type="checkbox" ng-model="isPublic"> Board is Public</div>
                            <button type="submit" class="btn btn-default btn-sm pull-right">
                                <span class="glyphicon glyphicon-ok"></span> Create
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!userExists()" class="show-hide-animation">
        <ng-include class="show-hide-animation" src="'views/login.html'"></ng-include>
    </div>
</div>

