<div class="col-sm-4">
  <div class="boards">
    <simple-board
      class="simple-board"
      ng-repeat="(boardId, board) in ctrl.boards"
      ng-click="ctrl.setEditedBoard(boardId, board)"
      ng-class="{
        'active': ctrl.isCurrentBoard(boardId)
      }"></simple-board>
  </div>
</div>
<div class="col-sm-8">
  <!-- CREATING -->
  <div ng-if="!ctrl.isEditing" class="col-xs-12 board-details">
    <h3>Create a New Board</h3>
    <hr/>
    <form
      name="ctrl.createForm"
      class="create-form"
      role="form"
      ng-submit="ctrl.createBoard(ctrl.newBoard, ctrl.createForm.$valid)"
      novalidate>
      <div class="form-group">
        <label>Board Title</label>
        <input
          type="text"
          class="form-control"
          ng-model="ctrl.newBoard.title"
          placeholder="Board Title"
          required>
      </div>

      <div class="form-group">
        <label>Board Description</label>
        <input
          type="text"
          class="form-control"
          ng-model="ctrl.newBoard.description"
          placeholder="Board Description"
          required>
      </div>

      <button
        type="submit"
        class="btn btn-info btn-lg"
        ng-disabled="ctrl.loading">
        Create
        <span ng-show="ctrl.loading" class="glyphicon glyphicon-refresh"></span>
      </button>
    </form>
  </div>
  <!-- EDITING -->
  <div ng-if="ctrl.isEditing" class="col-xs-12 board-details">
    <h3>Editing {{ ctrl.editedBoard.title }}</h3>
    <hr/>
    <form
      name="ctrl.updateForm"
      class="edit-form"
      role="form"
      ng-submit="ctrl.updateBoard(ctrl.editedBoardId, ctrl.editedBoard, ctrl.updateForm.$valid)"
      novalidate>
      <div class="form-group">

        <label>Board Title</label>
        <input
          type="text"
          class="form-control"
          ng-model="ctrl.editedBoard.title"
          placeholder="Board Title"
          required>
      </div>

      <div class="form-group">

        <label>Board Description</label>
        <input
          type="text"
          class="form-control"
          ng-model="ctrl.editedBoard.description"
          placeholder="Board Description"
          required>
      </div>
      <button
        type="submit"
        class="btn btn-info btn-lg"
        ng-disabled="ctrl.loading">
        Save
        <span ng-show="ctrl.loading" class="glyphicon glyphicon-refresh"></span>
      </button>
      <button
        type="button"
        class="btn btn-default btn-lg pull-right"
        ng-click="ctrl.cancelEditing()">
        Cancel
      </button>
    </form>
  </div>
</div>
