<div>
  <div class="edit board" ng-repeat="(boardId, board) in ctrl.boards">
    <div class="caption">
      <button type="button" class="top-right-corner" ng-click="ctrl.deleteBoard(boardId)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <div><input type="text" class="medium" ng-model="board.title" ng-blur="ctrl.updateBoard(boardId, board)" placeholder="Board Title"></div>
      <div><input type="text" ng-model="board.description" ng-blur="ctrl.updateBoard(boardId, board)" placeholder="Board description."></div>
      <div class="bottom x-small"><input type="checkbox" ng-model="board.isPublic" ng-blur="ctrl.updateBoard(boardId, board)"> Board is Public</div>
      <a ui-sref="notes({boardId: boardId})" type="button" class="view bottom-right-corner">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </div>
  </div>
  <div class="create board">
    <div class="caption">
      <form ng-submit="ctrl.createBoard(ctrl.newBoard)">
        <fieldset>
          <div><input type="text" class="medium" ng-model="ctrl.newBoard.title" placeholder="Board Title" required></div>
          <div><input type="text" ng-model="ctrl.newBoard.description" placeholder="Board description" required></div>
          <div class="bottom x-small"><input type="checkbox" ng-model="ctrl.newBoard.isPublic"> Board is Public</div>
          <button type="submit" class="bottom-right-corner"><span class="glyphicon glyphicon-plus"></span></button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
